body{
    background: linear-gradient(215deg, rgba(115, 176, 241, 0) ,rgba(115, 176, 241, .5));
    font-family: "Lato", sans-serif;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}